<nz-layout class="app-index">
    <nz-header>
        <app-index-header></app-index-header>
    </nz-header>

    <nz-layout>
        <nz-sider nzWidth="200px" nzTheme="light">
            <ul nz-menu nzMode="inline" class="sider-menu">
                <li nz-submenu nzOpen nzIcon="user" nzTitle="subnav 1">
                  <ul>
                    <li nz-menu-item nzSelected>option1</li>
                    <li nz-menu-item>option2</li>
                    <li nz-menu-item>option3</li>
                    <li nz-menu-item>option4</li>
                  </ul>
                </li>
            </ul>
        </nz-sider>
        
        <nz-layout class="inner-layout">
            <nz-breadcrumb>
                <nz-breadcrumb-item>Home</nz-breadcrumb-item>
                <nz-breadcrumb-item>Welcome</nz-breadcrumb-item>
              </nz-breadcrumb>
              <nz-content>
                <router-outlet></router-outlet>
              </nz-content>
        </nz-layout>
    </nz-layout>
    
    <nz-footer>footer</nz-footer>
</nz-layout>