.app-index {
    height: 100%;
}

.sider-menu {
    max-width: 200px;
    border-right: 0;
}

.inner-layout {
    padding: 0 24px 24px;
}

nz-content {
    background: #fff;
    padding: 24px;
}

nz-breadcrumb {
    margin: 16px 0;
}

