<nz-drawer 
    [nzClosable]="true"
    [nzMaskClosable]="false"  
    [nzVisible]="visible"
    [nzWidth]="480" 
    nzPlacement="right" 
    nzTitle="新建交易" 
    (nzOnClose)="closeTrans()">
    <form nzForm [formGroup]="reactiveForm" (ngSubmit)="submitForm()">
        <nz-form-item>
            <nz-form-label nzRequired="true">金额</nz-form-label>
            <nz-form-control nzErrorTip="请输入交易金额">
                <nz-input-group nzPrefixIcon="pay-circle">
                    <input type="text" nz-input formControlName="amount" placeholder="0.00" />
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired="true" >类别</nz-form-label>
            <nz-form-control>
                <nz-cascader [nzExpandTrigger]="'hover'" [nzOptions]="nzOptions"
                    [(ngModel)]="values" (ngModelChange)="onChanges($event)" 
                    [nzValueProperty]="'name'"
                    [nzLabelProperty]="'name'"
                    [ngModelOptions]="{standalone: true}">
                </nz-cascader>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>备注</nz-form-label>
            <nz-form-control>
                <input type="text" nz-input formControlName="remarks" placeholder="备注" />
            </nz-form-control>
        </nz-form-item>
    </form>
</nz-drawer>